body {
    padding: 40px 20px 20px 20px;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #222;
}

h2 {
    font-size: 4rem;
    font-weight: 800;
    margin: 0;
    background: linear-gradient(to right, #60a5fa, #a855f7);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

.div-form{
    max-width: 800px;
    padding: 25px;
    background-color:#1e293b;
    border-radius: 12px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.1);
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    gap: 20px;
}

.input-email{
    height: 30px;
    font-size: 16px;
    display: flex;
    border-radius: 8px;
    border-color: #334155;
    padding: 4px;
}

.input-password{
    height: 30px;
    font-size: 16px;
    border-radius: 8px;
    border-color: #334155;
    padding: 4px;
}

.singIn{
    height: 50px;
    font-size: 16px;
    color: white;
    font-weight: bold;
    background-color: #60a5fa;
    border: 0px;
    border-radius: 8px;
    border-color: #1e293b;
}

.singIn:hover{
    height: 50px;
    font-weight: bold;
    background-color: #60a5fa;
    border: solid 2px;
    border-radius: 8px;
    border-color: #1e293b;
}

.singUp{
    height: 50px;
    font-size: 16px;
    color: white;
    font-weight: bold;
    background-color: #60a5fa;
    border: 0px;
    border-radius: 8px;
    border-color: #1e293b;
}

.singUp:hover{
    height: 50px;
    font-weight: bold;
    background-color: #60a5fa;
    border: solid 2px;
    border-radius: 8px;
    border-color: #1e293b;
}

.singIn-google {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 12px 20px;
    background-color: #000000;
    color: #ffffff;
    font-size: 16px;
    font-weight: bold;
    border: 1px solid #000000;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.2s ease;
}

.singIn-google:hover {
    background-color: #f7f7f7;
    border-color: #ccc;
    color: black;
}

.singIn-google img {
    width: 20px;
    height: 20px;
}
  

.singIn-github {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 12px 20px;
    background-color: #000000;
    color: #ffffff;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 8px;
}
  
.singIn-github:hover {
    background-color: #ffffff;
    color: black;
}
  
.singIn-github img {
    width: 20px;
    height: 20px;
    filter: invert(1);
}

.singIn-github:hover img {
    width: 20px;
    height: 20px;
    filter: invert(0);
}