.task-form {
  max-width: 800px;
  padding: 25px;
  background-color:#1e293b;
  border-radius: 12px;
  box-shadow: 0 4px 15px rgba(0,0,0,0.1);
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.type-selector {
  position: relative; 
  display: flex;
  background-color: #334155;
  border-radius: 8px;
  padding: 4px;
}

.sliding-background {
  position: absolute;
  top: 4px;
  left: 4px;
  width: calc(50% - 4px);
  height: calc(100% - 8px);
  border-radius: 6px;
  background-color: #ef4444; 
  transition: all 0.35s cubic-bezier(0.65, 0, 0.35, 1);
}

.type-selector.income-active .sliding-background {
  transform: translateX(100%);
  background-color: #22c55e;
}

.type-selector button {
  position: relative;
  z-index: 1;
  flex: 1;
  padding: 10px;
  border: none;
  background-color: transparent;
  font-size: 16px;
  font-weight: 500;
  color: #000000;
  cursor: pointer;
  transition: color 0.35s ease;
}

.type-selector.income-active .expense,
.type-selector:not(.income-active) .income {
    color: #94a3b8c0;
    font-weight: bold;
}

.type-selector.income-active .income,
.type-selector:not(.income-active) .expense {
    color: white;
    font-weight: bold;
}

.placeholder-color::placeholder{
  color: #94a3b8c0;
}

.inputs-group {
  display: grid;
  grid-template-columns: 2fr 2fr 1fr;
  gap: 15px;
}

.inputs-group input {
  width: 100%;
  padding: 12px;
  color: white;
  background-color: #334155;
  font-weight: bold;
  border: 1px solid #334155;
  border-radius: 6px;
  font-size: 16px;
  box-sizing: border-box;
  outline: none;
}

.fixed-amount {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 16px;
  color: #ffffff;
  font-weight: bold;
}


.fixed-amount input[type="checkbox"] {
  -webkit-appearance: none;
  appearance: none;
  background-color: transparent;
  margin: 0;

  width: 20px;
  height: 20px;
  border: 2px solid #64748b;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.2s ease;
  
  display: grid;
  place-content: center;
}

.fixed-amount input[type="checkbox"]:hover {
  border-color: #94a3b8;
}

.fixed-amount input[type="checkbox"]::before {
  content: "";
  width: 10px;
  height: 10px;
  border-radius: 50%;
  transform: scale(0);
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1em 1em #22c55e;
}
.fixed-amount input[type="checkbox"]:checked::before {
  transform: scale(1);
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.task-form button[type="submit"] {
  padding: 12px 20px;
  background-color: #3b82f6;
  color: rgb(255, 255, 255);
  border: none;
  border-radius: 6px;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.task-form button[type="submit"]:hover {
  background-color: #2563eb;
}
