.task-item-wrapper {
}

.task-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 14px 15px;
  border-bottom: 1px solid #475569;
  transition: all 0.2s ease;
}

.task-item.is-editing {
  border: 2px solid #006aff;
}

.task-item.is-completed {
  text-decoration: line-through;
  opacity: 0.5;
}
.task-item.is-completed .task-status-toggle {
  background-color: #00ff5e;
  border-color: #22c55e;
}
.task-item.is-completed .task-status-toggle::after {
  content: '✔';
  color: white;
  font-size: 14px;
}

.task-main-info, .task-details {
  display: flex;
  align-items: center;
  gap: 15px;
}

.task-status-toggle {
  width: 20px;
  height: 20px;
  border: 2px solid #64748b;
  border-radius: 50%;
  background: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.2s ease;
  flex-shrink: 0;
}
.task-status-toggle:hover {
  border-color: #94a3b8;
}

.task-status-toggle:disabled {
  cursor: not-allowed;
  opacity: 0.4;
}
.task-status-toggle:disabled:hover {
  border-color: #64748b;
}

.task-name {
  color: #e2e8f0;
  font-size: 16px;
  font-weight: 500;
}

.fixed-icon {
  color: #94a3b8;
  display: flex;
  align-items: center;
  margin-left: -5px;
}

.task-amount {
  font-weight: bold;
  font-size: 16px;
}
.task-amount.income {
  color: #22c55e;
}
.task-amount.expense {
  color: #ef4444;
}

.task-actions {
  display: flex;
  gap: 8px;
  opacity: 1;
  transition: opacity 0.2s ease;
}

.action-btn-edit,
.action-btn-delete {
  background: none;
  border: none;
  color: #94a3b8;
  cursor: pointer;
  padding: 0;
  display: flex;
  align-items: center;
  transition: color 0.2s ease;
}

.action-btn-edit:hover {
  color: #3b82f6;
}

.action-btn-delete:hover {
  color: #ff0000;
}

@media (max-width: 420px) {
  .task-name {
    color: #e2e8f0;
    font-size: 12px;
    font-weight: 500;
  }

  .task-amount {
    font-weight: bold;
    font-size: 12px;
  }
  .task-amount.income {
    color: #22c55e;
    font-size: 12px;
  }
  .task-amount.expense {
    color: #ef4444;
    font-size: 12px;
  }
}